.page-tab-body h5 {
    font-weight: bold;
}

.resManual-first-section p {
    text-align: left;
}

#manulPicId{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bugPicid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}

#bugLifeCycleId{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}
