.contact-section-1 {
    text-align: center;
}

.page-tab-body a{
    text-decoration: none;
    padding-top: 5rem;
}

#contact-interested {
    padding-bottom: 5rem;
}

.contact-btn {
    margin: auto;
    width: 40%;
    position: relative;
    
}
