/* .footer-links {
    display: flexbox;
    position: relative;
    margin: auto;
    opacity: .7;
    width: 100%;
    height: auto;
    background-color: darkgray;
    font-family: monospace;  
} */

.copyIcon a {
    text-decoration: none;
    color: white;
}

.social-icon a{
    color: white;
}
