.page-tab-body iframe{
    border-radius: 20%;
}

.kid-csforall-oba-video {
    float: left;
}

.kid-csforall-oba-para {
    position: relative;
    left: 15px;

}

.kid-course-grid {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.kid-course-basic {
    text-align: left;
    list-style: none;
    background: whitesmoke;
    border-radius: 20%;
}
.kid-courseList h5 {
   font-weight: bold;
}

.kid-outline {
    align-items: center;
}