.sticky {
  /* position: fixed; */
  /* overflow: hidden; */
}

.header-color{
  background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE000, #799F0C, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-body h3{
  /* text-align: center; */
  font-family: monospace;
  position: 'absolute';
  height: '100%';
  width: '100%';
  align-content: center;
  justify-content: center;
  align-self: flex-start;    
}
.container {
  /* background-color: #9f9a0c;  */
  display: flexbox;
  align-items: center;
  justify-content: center;
  height: 37vh;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}
.cover-img {
  /* height: 100vh; */
  height: 100%;
  width: auto;
  /* border-radius: 35%; */
}
.sign-up{
  padding-top: 1em;
  padding-right: 2em;
  float: right;
}
.qa-talks{
  text-align: left;
  font-family: monospace;
  padding-top: 2em;
  padding-right: 2em;
  margin-left: 50px;
}
#program-heading {
  text-align: center;
  font-family: monospace;
}

/* ===========Back TO TOP Button=============*/
.back-to-top {
  float: right;
}

/* ===========Landing Page 2nd Image=============*/
.landing-s-image {
  background: #68dca8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 20px;
  margin: 20px;
  text-align: center;
  color: #ffffff;
}
.seImage {
  padding: 30px 40px;
  margin: 20px;
}
.seImage h1 {
  font-family: sans-serif;
  line-height: 56px;
  font-size: 44px;
  font-weight: 800;
}
h1.sub-header {
  margin-top: 5px;
  font-weight: 100;
}

/* ===========Landing Page 3rd Image=============*/
.landing-t-image {
  background: #272727;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 20px;
  margin: 20px;
  text-align: center;
  color: #ffffff;
  /* padding-top: 100px; */
  display: block;
  height: auto !important;
}
#aboutUs-header {
    font-size: 60px;
    /* text-transform: uppercase; */
}
.border-2 {
  color: #939393;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

/* ===========Page tabe scroll bar=============*/
.mdl-tabs__tab-bar {
  overflow-x: auto;
  overflow-y: hidden; 
  padding-left: 10px;
}
/* .mdl-tabs__tab {
  flex-shrink: 0; 
} */
.category-tabs{
  font-family: monospace;
  text-align: center;
  margin: auto;
  padding-top: 1em;
}
.page-tab-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  /* margin: auto; */
  margin-left: 1em;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  color: black;
}
h6 {
  text-decoration: underline;
}
.top-link {
  font-family: monospace;
}
.side-header-color h2{
  font-family: monospace;
}
.side-link {
  font-family: monospace;
}
/* ============Card========= */
.img-style { 
  padding-bottom: 1em;
}
.img-style img {
  border-radius: 70px;
  border-style: double;
  border-color: cornsilk;
}
.course-details{
  font-family: monospace;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  border-top-style: solid;
}
/* ============Course-Manual-Automation========= */
.courseOutline {
  width: 100%;
  height: auto;
  border-radius: 5%;
}
/* ==============Course-code4Kids==============*/
.obama_talk{
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.kid-csforall-oba-video {
  float: left;
}
.kid-csforall-oba-para {
  position: relative;
  left: 15px;
}
/* ==============resScrum==============*/
.scrum-logo-1 {
  float: left;
}
.scrumorg-btn {
  float: left;
  padding-right: 1em;
}
.scrum-values {
  float: left;
}

/* ==============resHTML==============*/
.tag-Color {
  color: #990000;
}
/* ==============resManual==============*/
#bugPicid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

/* ==============resJava==============*/
.pre-code {
  background-color: black;
  overflow: auto;
  margin-bottom: 1rem;
  display: block;
  color: #ffffff;
  font-size: 87.5%;
  /* font-family: 'Courier New', Courier, monospace; */
  white-space: pre;
  margin: 1em 0px;
  padding: 2em 2em 2em 2em;
}

/* ==============resSelenium==============*/
.hero.homepage {
  background-image: url(./images/tabs/green-bg-opt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
  padding: 20px 20px;
  margin: 20px;
  text-align: center;
}
.hero {
  padding: 30px 40px;
  margin: 20px;
}
.hero h1 {
  font-family: sans-serif;
  line-height: 56px;
  font-size: 44px;
  font-weight: 800;
}
h1.sub-header {
  margin-top: 5px;
  font-weight: 100;
}
.header-description {
  padding-top: 25px;
}
.body-large {
  font-size: 18px;
  line-height: 25px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.body-large:last-child {
  margin-top: 5px;
  margin-bottom: 35px;
}
/* ==============resProtractor==============*/
.protractor-logo {
  height: 101px;
  width: 450px;
  background-size: 100%;
}
/* ==============Contact==============*/
.visit- {
  text-decoration: none;
}
.doc- {
  text-decoration: none;
}
/* ==============About==============*/
.about-section-img{
  border-radius: 50%;
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
/* ==============footer==============*/
.copyIcon a {
  text-decoration: none;
  color: white;
}
.social-icon a{
  color: white;
}
/* .container {
    background-image: url(/images/codingImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 20px 20px;
    margin: 20px;
    text-align: center;
  } */
  /* #htext{
  margin-left: 50px;
  text-align: center;
  font-family: monospace;
  text-justify: auto;
  text-transform: capitalize;
  font-size: x-large;
  float: left;

} */
